aniso8601
Click
Flask
Flask-Cors
Flask-Mail
Flask-Migrate
flask_moment
Flask-RESTful
Flask-Session
Flask-SQLAlchemy
gunicorn
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
PyJWT
pytz
six
SQLAlchemy
Werkzeug

